Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/clrzmq.2.2.5/clrzmq.2.2.5.nupkg
packages/clrzmq.2.2.5/clrzmq.2.2.5.nuspec
.tfignore
packages/clrzmq.2.2.5/lib/clrzmq-ext.dll
packages/clrzmq.2.2.5/lib/clrzmq-ext.xml
packages/clrzmq.2.2.5/lib/clrzmq.xml
packages/clrzmq.2.2.5/LICENSE
packages/clrzmq.2.2.5/tools/install.ps1
packages/repositories.config
VRClient/packages.config
VRClient/Properties/AssemblyInfo.cs
VRClient/VRFSClient.csproj
VRFSClient.sln